
/*
Theme_Name: lavieenvanille
Author: dekko Shen
Version: 1.0_201502
*/


/* FONT size
---------------------------------------------------------------------
[ px ]	[ % ]
12px 	75  %
14px 	87.5%
16px 	100 %
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
initial setup
---------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 75%;            /* 12px */
}

@media only screen and (max-resolution:264dpi), only screen and (-webkit-max-device-pixel-ratio:2) {
	html { font-size: 75%; }     /* 12px for 2048x1536 9.7" */
}

@media only screen and (max-resolution:180dpi), only screen and (-webkit-max-device-pixel-ratio:1.75) {
	html { font-size: 87.5%; }   /* 14px */
}

@media only screen and (max-resolution:96dpi), only screen and (-webkit-max-device-pixel-ratio:1.5) {
	html { font-size: 100%; }    /* 16px for 1920x1080 23" */
}

body {
	font-weight: 400;
	font-family: Georgia, "Times New Roman", "Microsoft JhengHei", "Noto Sans CJK TC Light", Sans-serif;
	background-color:#f6fcfb; /*f6fcfb f3fbfa F1FAF9*/
	color: #000000;
	line-height:1.875rem;
}

::-moz-selection { background: #75C7C5; text-shadow: none; }     /* style for selected content */
	 ::selection { background: #75C7C5; text-shadow: none; }


/*---------------------------------------------------------------------
property of elements setup
---------------------------------------------------------------------*/
h1 { font-size: 2.25rem; }
h2 { font-size: 2.00rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.50rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.00rem; }

p { 
	font-size: 1.00rem;
	text-align: justify;
}

ul    { list-style-type:none; }
li    { font-size: 1.00rem; }
ul ul { padding-left: 1rem; }  /* for all ul_2 in ul_1 */

table {
	width: 100%;
	border-style: none;
	border-collapse: collapse;
}

th, td, tr {
	border-style: none;
}

a:link {
	color:#000000; 
	background-color:transparent; 
	text-decoration:none
}

a:visited {
	color:#000000; 
	background-color:transparent; 
	text-decoration:none;
}

a:hover {
	color:#70151C;
	font-weight: bold;
	background-color:transparent; 
	cursor:pointer;
}

a:active {
	color:#70151C;
	font-weight: bold;
	background-color:transparent;
	cursor:pointer;
}


/*---------------------------------------------------------------------
other_block elements
---------------------------------------------------------------------*/
.table_holder{
	display: inline-table;
	vertical-align: top;
}

.table_r{
	display: table-row;
	vertical-align: top;
}

.table_c{
	display: table-cell;
	vertical-align: top;
}

/*---------------------------------------------------------------------
header layout
---------------------------------------------------------------------*/
#header {
	background-color: transparent;
	text-align:center;
	padding-bottom: 4rem;
}

#header .title {
	/*font-weight: bold;*/
	font-size: 2.75rem;
	font-family: "Reenie Beanie", Georgia, "Microsoft JhengHei", serif;
	padding-top: 4rem;
}

#header .title a{
	color:#000000; 
	font-weight: 400;
	background-color:transparent; 
	text-decoration:none;
}

#header .nav a.active{
	color:#000000; 
	background-color:transparent; 
	font-weight: bold; 
	text-decoration:none;
}

#header .nav{
	padding-top: 1rem;
}

#header .nav a{
	font-family: "Amatic SC", Georgia, "Microsoft JhengHei", serif;
	font-size: 2.0rem;
	margin-right: 1.0rem;
	margin-left: 1.0rem;
	display: inline-block;
	vertical-align: top;
}


/*---------------------------------------------------------------------
content layout
---------------------------------------------------------------------*/
#content {
	text-align:center;
}

#content .pic_holder {
}

#content .wrapper {
	margin: 0rem auto;
	overflow: hidden;
}


/*--------------------
content 1column layout
----------------------*/
#content .article_1column { 
	text-align:center;
	padding-bottom:5rem;
}

#content .article_1column .titleWrap { 
	text-align:left;
	padding-bottom: 2rem;
}

#content .article_1column .titleWrap .titleLine { 
	padding-bottom: 1.75rem;
}

#content .article_1column .titleWrap .titleData { 
	font-family: "Reenie Beanie", Georgia, "Microsoft JhengHei", serif;
	font-size: 2.5rem;
	padding-left:  1rem;
	padding-right: 0.5rem;
	display: inline-block;
	vertical-align: top;
}

#content .article_1column .titleWrap .titleText { 
	font-family: "Microsoft JhengHei", Sans-serif;
	font-size: 1.25rem;
	font-weight: bold; 
	display: inline-block;
	vertical-align: top;
}

#content .article_1column .contentWrap{
	text-align:left;
	margin: 0rem auto;
	max-width:38rem;
	min-width:30rem;
}

#content .article_1column .contentWrap p { 
}

#content .article_1column .contentWrap .pic_holder { 
	padding: 1rem 0rem;
}

/*--------------------
content 2column layout
----------------------*/
#content .article_2column { 
	text-align:center;
	padding-bottom:5rem;
	position: relative;
	left: 3rem;
}

#content .article_2column .titleWrap { 
	text-align:center;
	padding-bottom: 2rem;
	position: relative;
	left: -7rem;
}

#content .article_2column .titleWrap .titleLine { 
	padding-bottom: 1.25rem;
}

#content .article_2column .titleWrap .titleData { 
	font-family: "Reenie Beanie", Georgia, "Microsoft JhengHei", serif;
	font-size: 2.5rem;
	padding-right: 0.5rem;
	display: inline-block;
	vertical-align: top;
}

#content .article_2column .titleWrap .titleText { 
	font-family: "Microsoft JhengHei", Sans-serif;
	font-size: 1.25rem;
	font-weight: bold; 
	display: inline-block;
	vertical-align: top;
}

#content .article_2column .table_holder{ 
}

#content .article_2column .table_holder .table_c.img{ 
	padding-top:1rem;
	padding-right:3rem;
}

#content .article_2column .table_holder .table_c.text{ 
	text-align:left;
	min-width:15rem;
	max-width:33rem;
}


/*---------------------
depend on which content
-----------------------*/

#content.content_home p.title { 
	font-family: "Microsoft JhengHei", Sans-serif;
	text-align:center;
	padding-top: 1rem;
}


#content.content_profile p.title { 
	font-family: "Microsoft JhengHei", Sans-serif;
	padding-top: 1.5rem;
	margin: 0rem auto;
	width:28rem;
}

#content.content_lesson .wrapper {
	text-align:center;
}

#content.content_lesson .endLine { 
	position: relative;
	left: -4rem;    /* equal to left(.article_2column) + left(.titleWrap) */
}


#content.content_news .wrapper {
	text-align:center;
	max-width:45rem;
	min-width:35rem;
}


#content.content_blog .wrapper {
	text-align:center;
	max-width:45rem;
	min-width:35rem;
}

#content.content_blog .article_1column .titleWrap .titleData { 
	padding-left: 2rem;
}


#content.content_contact .wrapper {
	text-align:center;
	width:45rem;
}

#content.content_contact .table_holder .table_c.img{
	padding-right: 2.5rem
}

#content.content_contact .table_holder .table_c.text{ 
	text-align:left;
	vertical-align:middle;
	width:25rem;
}

#content.content_contact .table_holder .table_c.text p{ 
	font-family: "Amatic SC", Georgia, "Microsoft JhengHei", serif;
	font-size: 1.5rem;
	line-height:3rem;
}

#content.content_contact .table_holder .table_c.text img{ 
	vertical-align:middle;
}

/*---------------------------------------------------------------------
footer layout
---------------------------------------------------------------------*/
#footer{
	width: 100%;
	padding: 5rem 0rem 3rem 0rem;
}

#footer p { 
	text-align:center;
	font-family: "Amatic SC", Georgia, "Microsoft JhengHei", serif;
	font-size: 1rem;
}

/*---------------------------------------------------------------------
footer layout
---------------------------------------------------------------------*/
#footerHome{
	position: fixed;
	bottom: 2rem;
	right: 3rem;
	opacity: 0.8;
	filter: alpha(opacity=8); /* For IE8 and earlier */
}


/*---------------------------------------------------------------------
define class
---------------------------------------------------------------------*/
.font_normal { font-style: normal; }
.font_italic { font-style: italic; }
.font_bold   { font-weight: 700;   }

.font_ReenieBeanie { font-family:"Reenie Beanie", Georgia, "Microsoft JhengHei", serif; }
.font_AmaticSC { font-family:"Amatic SC", Georgia, "Microsoft JhengHei", serif; }

.sans_serif { font-family: helvetica, verdana, "Microsoft JhengHei", "Noto Sans CJK TC Light", Sans-serif; }
.serif      { font-family: Georgia, "Times New Roman", "PMingLiU", serif;  }
